{% extends "base_login_logout.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Reset your password' %}{% endblock %}
{% block content %}


      <!-- logo -->
      <div class="flex justify-center mb-12"
        uk-scrollspy="target: &gt; *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
        <img src="{% static 'images/logo.png' %}" alt=""
          class="w-auto h-60 shrink-0 bg-fuchsia-100 px-3 rounded-2xl p-2.5 uk-scrollspy-inview ">
      </div>

      {% if validlink %}
      <p>{% trans 'Please enter your new password twice:' %}</p>
      <br>
      <form method="post" class="space-y-7 text-sm text-black font-medium dark:text-white"
          uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
        {% csrf_token %}
        {% if form.new_password1.errors %}
        <div class="error">{{ form.new_password1.errors }}</div>
        {% endif %}

        <div>
          <label for="email" class="">{% trans 'New password' %}</label>
          <div class="mt-2.5">
            <input id="{{ form.new_password1.id_for_label }}"
            name="{{ form.new_password1.name }}" type="password" autofocus="" placeholder="New password" required=""
            value="{{ form.new_password1.value|default:'' }}"
              class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5">
          </div>
        </div>

        
        {% if form.new_password2.errors %}
        <div class="error">{{ form.new_password2.errors }}</div>
        {% endif %}

        <div>
          <label for="email" class="">{% trans 'New password repeat' %}</label>
          <div class="mt-2.5">
            <input id="{{ form.new_password2.id_for_label }}"
            name="{{ form.new_password2.name }}" type="password" autofocus="" placeholder="New password repeat"
            required="" value="{{ form.new_password2.value|default:'' }}"
              class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5">
          </div>
        </div>
       

        <button type="submit" class="button bg-primary text-white w-full">
          <span>{% trans 'Change my password' %}</span> </button>

      </form>

      {% else %}
      <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password  reset.' %}</p>
      {% endif %}


{% endblock %}