{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content %}
<div class="flex flex-col h-screen justify-center items-center">
  <div class="max-w-sm mx-auto md:px-10 p-4 w-full">
    <div uk="" -scrollspy="target: &gt; * &gt; *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
      <!-- logo -->
      <div class="flex justify-center mb-12"
        uk-scrollspy="target: &gt; *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
        <img src="{% static 'images/logo.png' %}" alt=""
          class="w-auto h-60 shrink-0 bg-fuchsia-100 px-3 rounded-2xl p-2.5 uk-scrollspy-inview ">
      </div>
      <h1>{% trans 'Password changed' %}</h1>
      <p>{% trans 'Your password has been successfully changed.' %}</p>
      <br>

    </div>
  </div>
</div>

{% endblock %}