{% extends "base_login_logout.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block content %}
<div class="flex flex-col h-screen justify-center items-center">
  <div class="max-w-sm mx-auto md:px-10 p-4 w-full">
    <div uk="" -scrollspy="target: &gt; * &gt; *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
      <!-- logo -->
      <div class="flex justify-center mb-12"
        uk-scrollspy="target: &gt; *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
        <img src="{% static 'images/logo.png' %}" alt=""
          class="w-auto h-60 shrink-0 bg-fuchsia-100 px-3 rounded-2xl p-2.5 uk-scrollspy-inview ">
      </div>
      <p>{% trans 'We've emailed you instructions for setting your password.' %}</p>
      <p>{% trans 'If you don't receive an email, please make sure you've entered the address you registered with.' %}</p>
      <div class="space-x-2 text-sm text-center text-slate-400 dark:text-white/70">
        <br>
        <br>
        <button onclick="location.href={% url 'login' %}'" class="button bg-primary text-white w-full">
        <span>{% trans 'Login In' %}</span> </button>
      </div>

    </div>
  </div>
</div>
{% endblock %}