{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Edit your password' %}{% endblock %}
{% block content %}
<!-- main contents -->
<main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
  <div class="max-w-2xl mx-auto">
    <!-- heading title -->
    <div class="page__heading py-6 mt-6">
      <a href="{{ referer }}">
        <ion-icon name="chevron-back-outline"></ion-icon> {% trans 'Back' %}
      </a>
    </div>
    <!-- tab content -->
    <div class="flex flex-col h-screen justify-center items-center">
      <div class="max-w-sm mx-auto md:px-10 p-4 w-full">
        <div uk="" -scrollspy="target: &gt; * &gt; *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
          <p>{% trans 'Use the form below to change your password.' %}</p>
          <form method="post" class="space-y-3"
            uk-scrollspy="target: &gt; *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
            {% csrf_token %}
            <input class="!w-full uk-scrollspy-inview " id="email" name="{{ form.old_password.name }}" type="text"
              autofocus="" placeholder="Old password" required="" value="{{ form.old_password.value|default:'' }}">
            {% if form.new_password1.errors %}
            <div class="errors">{{ form.new_password1.errors }}</div>
            {% endif %}
            <input class="!w-full uk-scrollspy-inview " id="email" name="{{ form.new_password1.name }}" type="text"
              autofocus="" placeholder="New password" required="" value="{{ form.new_password1.value|default:'' }}">
            {% if form.new_password2.errors %}
            <div class="errors">{{ form.new_password2.errors }}</div>
            {% endif %}
            <input class="!w-full uk-scrollspy-inview " id="email" name="{{ form.new_password2.name }}" type="text"
              autofocus="" placeholder="New password repeat" required=""
              value="{{ form.new_password2.value|default:'' }}">
            <button type="submit"
              class="font-medium w-full rounded-lg bg-slate-900 py-1.5 px-4 text-white h-[38px] active:scale-[0.97] transition-all duration-150 uk-scrollspy-inview ">
              <span>{% trans 'Change' %}</span> </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}