{% load static %}
{% load i18n %}
<div class="messages-headline">
        <div class="flex items-center justify-between gap-2 w- px-6 py-3.5 z-10  uk-animation-slide-top-medium">
                        
            <div class="flex items-center sm:gap-4 gap-2">

                           
                <div class="relative cursor-pointer max-md:hidden"  uk-toggle="target: .rightt ; cls: hidden">

{% if other_participant.profile.photo %}
<img src="{{ other_participant.profile.photo.url }}" class="w-8 h-8 rounded-full shadow">
{% else %}

<img src="{% static 'images/affect.jpg' %}" alt="Default Avatar" class="w-8 h-8 rounded-full shadow">
{% endif %}

                   
                    <div class="w-2 h-2 bg-teal-500 rounded-full absolute right-0 bottom-0 m-px"></div>
                </div>
                <div class="cursor-pointer" uk-toggle="target: .rightt ; cls: hidden">
                    <div class="text-base font-bold a_chat"> {{ other_participant.get_full_name }}</div>
                    {% if friends_online %}
                    <div class="text-xs text-green-500 font-semibold">{% trans 'Online' %}</div>
                    {% endif %}
                    
                </div>

            </div>  

            <div class="flex items-center gap-2">
                <!-- <button type="button" class="button__ico">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
                    </svg>
                </button>
                <button type="button" class="hover:bg-slate-100 p-1.5 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
                    </svg>
                </button>  -->
                <button type="button" class="hover:bg-slate-100 p-1.5 rounded-full a_chat" uk-toggle="target: .rightt ; cls: hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                      </svg> 
                </button> 
                <button type="button" class="deletechat  hover:bg-slate-100 p-1.5 rounded-full" data-chat-id="{{ room.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#eb4034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg> 
                </button> 
                <!-- <a href="#" class="message-action text-red-500" data-chat-id="{{ room.id }}"><i class="icon-feather-trash-2"></i> <span class="md:inline hidden"> Delete Conversation</span> </a> -->
            </div>
        
        </div>
</div>

<div class="message-content-scrolbar" data-simplebar>
    <div class="message-content-inner">


        {% for message in messages %}
        {% if message.sender == request.user %}
        <div class="message-bubble me">
            {% else %}
            <div class="message-bubble">
                {% endif %}
                <div class="message-bubble-inner">
                    <div class="message-avatar">

                        {% if message.sender.profile.photo %}
                        <img src="{{ message.sender.profile.photo.url }}" alt="">
                        {% else %}
                        <img src="{% static 'images/affect.jpg' %}" alt="">
                        {% endif %}


                    </div>
                    <div class="message-text">
                        <p>{{ message.content|safe }}</p>
                    </div>
                    <div>
                        {% if message.media %}
                        <br><img src="{{ message.media.url }}" alt="Media" width="200">
                        {% endif %}
                        {% if message.is_pinned %}
                        <br><span style="color: red;">{% trans 'Pinned' %}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}
            <!-- <div class="message-bubble">
                <div class="message-bubble-inner">
                    <div class="message-avatar"><img src="assets/images/avatars/avatar-2.jpg" alt=""></div>
                    <div class="message-text">
                        <div class="typing-indicator">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div> -->
        </div>

    </div>


</div>


{% if other_participant.id in blocked_users %}
<!--Скрываем форму -->

{% else %}
<form id="message-form">
    <div class="message-reply">
        <input type="hidden" id="currentUserId" value="{{ request.user.id }}">
        <div class="flex items-center md:gap-4 gap-2 md:p-3 p-2 overflow-hidden">

            <div id="message__wrap" class="flex items-center gap-2 h-full dark:text-white -mt-1.5">

                <!-- <button type="button" class="shrink-0">
                    <ion-icon class="text-3xl flex" name="add-circle-outline"></ion-icon>
                </button> -->
                <div class="dropbar pt-36 h-60 bg-gradient-to-t via-white from-white via-30% from-30% dark:from-slate-900 dark:via-900"
                    uk-drop="stretch: x; target: #message__wrap ;animation:  slide-bottom ;animate-out: true; pos: top-left; offset:10 ; mode: click ; duration: 200">

                    <div class="sm:w-full p-3 flex justify-center"
                        uk-scrollspy="target: > button; cls: uk-animation-slide-bottom-small; delay: 100;repeat:true">
<input type="file" id="file-chat" style="display: none;" accept="image/*, .pdf, .doc, .docx" name="media">

                        <button onclick="selectImage()"
                            class="bg-sky-50 text-sky-600 border border-sky-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                            <ion-icon class="text-3xl flex" name="image"></ion-icon>
                        </button>

                        <button type="button"
                            class="bg-green-50 text-green-600 border border-green-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                            <ion-icon class="text-3xl flex" name="images"></ion-icon>
                        </button>
                        <button type="button"
                            class="bg-pink-50 text-pink-600 border border-pink-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                            <ion-icon class="text-3xl flex" name="document-text"></ion-icon>
                        </button>
                        <button type="button"
                            class="bg-orange-50 text-orange-600 border border-orange-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                            <ion-icon class="text-3xl flex" name="gift"></ion-icon>
                        </button>


                    </div>

                </div>

                <button type="button" class="shrink-0">
                    <ion-icon class="text-3xl flex" name="happy-outline"></ion-icon>
                </button>
                <div class="dropbar p-2"
                    uk-drop="stretch: x; target: #message__wrap ;animation: uk-animation-scale-up uk-transform-origin-bottom-left ;animate-out: true; pos: top-left ; offset:2; mode: click ; duration: 200 ">

                    <div class="sm:w-60 bg-white shadow-lg border rounded-xl  pr-0 dark:border-slate-700 dark:bg-dark3">

                        <h4 class="text-sm font-semibold p-3 pb-0">{% trans 'Send Imogi' %}</h4>

                        <div class="grid grid-cols-5 overflow-y-auto max-h-44 p-3 text-center text-xl smiley-panel">

                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley1:"> 😊 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley2:"> 😀 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley3:"> 😆</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley4:"> 😅 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley5:"> 🤣 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley6:"> 😂 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley7:"> 🙃 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley8:"> 😉 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley9:"> 😊 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley10:"> 😇</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley11:"> 🥰 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley12:"> 😍 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley13:"> 🤩 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley14:"> 😘 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley15:"> 😗 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley16:"> 😚 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley17:"> 😙</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley18:"> 😋 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley19:"> 😛 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley20:"> 😜 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley21:"> 🤪 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley22:"> 😝 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley23:"> 🤑 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley24:"> 🤗</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley25:"> 🤭 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley26:"> 🤫 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley27:"> 🤔 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley28:"> 🤐 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley29:"> 🤨 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley30:"> 😐 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley31:"> 😑</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley32:"> 😒 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley33:"> 🙄 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley34:"> 😮‍💨 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley35:"> 😔 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley36:"> 😪 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley37:"> 🤤 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley38:"> 😴</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley39:"> 😷 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley40:"> 🤒 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley41:"> 🤢 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley42:"> 🤮 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley43:"> 🥴 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley44:"> 😵 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley45:"> 😵‍💫</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley46:"> 🤯 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley47:"> 🤠 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley48:"> 🥳 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley49:"> 😎 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley50:"> 🤓 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley51:"> 🧐 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley52:"> 😕</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley53:"> 😟 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley54:"> 🙁 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley55:"> ☹️ </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley56:"> 😲 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley57:"> 😳 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley58:"> 🥺 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley59:"> 😢</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley60:"> 😭 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley61:"> 😱 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley62:"> 😖 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley63:"> 🥱 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley64:"> 😤 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley65:"> 😡 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley66:"> 😠</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley67:"> 🤬 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley68:"> 😈 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley69:"> 👿 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley70:"> 💀 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley71:"> ☠️ </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley72:"> 💩 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley73:"> 💋</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley74:"> 💯 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley75:"> 💦 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley76:"> 💌 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley77:"> 💘 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley78:"> 💝 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley79:"> 💖 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley80:"> 💞</div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley81:"> ❣️ </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley82:"> 💔 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley83:"> ❤️‍🔥 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley84:"> 🥂 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley85:"> 🍷 </div>
                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"
                                data-smiley=":smiley86:"> 🍸 </div>


                        </div>


                    </div>

                </div>

            </div>

            <div class="relative flex-1">
                <textarea id="message-input" placeholder="Write your message" rows="1"
                    class="w-full resize-none bg-secondery rounded-full px-4 p-2"></textarea>

                <button type="submit" class="text-white shrink-0 p-2 absolute right-0.5 top-0">
                    <ion-icon class="text-xl flex" name="send-outline"></ion-icon>
                </button>

            </div>



        </div>


    </div>

</form>
{% endif %}



<!-- user profile right info -->
<div class="rightt w-full h-full absolute  right-0 z-10 hidden transition-transform">
    <div
        class="w-[360px] border-l shadow-lg h-screen bg-white absolute right-0 top-0 uk-animation-slide-right-medium delay-200 z-50 dark:bg-dark2 dark:border-slate-700">

        <div class="w-full h-1.5 bg-gradient-to-r to-purple-500 via-red-500 from-pink-500 -mt-px"></div>

        <div class="py-10 text-center text-sm pt-20">

            {% if other_participant.profile.photo %}
            <img src="{{ other_participant.profile.photo.url }}" 
                class="w-24 h-24 rounded-full mx-auto mb-3">
            {% else %}
            
            <img src="{% static 'images/affect.jpg' %}" alt="Default Avatar" class="w-24 h-24 rounded-full mx-auto mb-3">
            {% endif %}
            
            <div class="mt-8">
                <div class="md:text-xl text-base font-medium text-black dark:text-white"> {{ other_participant.get_full_name }} </div>
                {% if other_participant.profile.nickname %}
                <div class="text-gray-500 text-sm mt-1 dark:text-white/80">@{{ other_participant.profile.nickname }}</div>
                {%  endif%}
            </div>
            <div class="mt-5">
               
                <a href="{% url 'user_detail' username=other_participant.username %}"
                    class="inline-block rounded-full px-4 py-1.5 text-sm font-semibold bg-secondery">{% trans 'View profile' %}</a>
            </div>
        </div>

        <hr class="opacity-80 dark:border-slate-700">

        <ul class="text-base font-medium p-3">
            <!-- <li>
                <div class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery">
                    <ion-icon name="notifications-off-outline" class="text-2xl"></ion-icon> Mute Notification
                    <label class="switch cursor-pointer ml-auto"> <input type="checkbox" checked><span
                            class="switch-button !relative"></span></label>
                </div>
            </li>
             -->
            <!-- <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery">
                    <ion-icon name="settings-outline" class="text-2xl"></ion-icon> Ignore messages </button> </li> -->
                {% if other_participant.id in blocked_users %}
                <li>
                    <button type="button" class="unblock-user-btn flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"
                        data-user-id="{{ other_participant.id }}">
                        <ion-icon name="stop-circle-outline" class="text-2xl"></ion-icon> {% trans 'UnBlock' %}
                    </button>
                </li>
                {% else %}
                <li>
                    <button type="button" class="block-user-btn flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"
                        data-user-id="{{ other_participant.id }}">
                        <ion-icon name="stop-circle-outline" class="text-2xl"></ion-icon> {% trans 'Block' %}
                    </button>
                </li>
                {% endif %}

            <li> <button type="button" 
                    class="deletechat  flex items-center gap-5 rounded-md p-3 w-full hover:bg-red-50 text-red-500" data-chat-id="{{ room.id }}"> <ion-icon
                        name="trash-outline" class="text-2xl"></ion-icon> {% trans 'Delete Chat' %} </button> </li>
        </ul>

        <!-- close button -->
        <button type="button" class="absolute top-0 right-0 m-4 p-2 bg-secondery rounded-full"
            uk-toggle="target: .rightt ; cls: hidden">
            <ion-icon name="close" class="text-2xl flex"></ion-icon>
        </button>

    </div>

    <!-- overly -->
    <div class="bg-slate-100/40 backdrop-blur absolute w-full h-full dark:bg-slate-800/40"
        uk-toggle="target: .rightt ; cls: hidden"></div>

</div>