          <!-- post icons -->
        <div class="flex space-x-4 lg:font-bold">
            <div class="flex items-center gap-2.5">
                {% if status.liked_by_current_user %}

                <button type="button"
                    class="button__ico bg-slate-200/70 dark:bg-slate-700 like-button"
                    data-status-id="{{ status.id }}">
                    <i class="icon-material-outline-favorite" data-status-id="{{ status.id }}"></i>
                    
                </button>
                {% else %}
                <button type="button"
                    class="button__ico button__ico bg-slate-200/70 dark:bg-slate-700 like-button"
                    data-status-id="{{ status.id }}">
                    <i class="icon-material-outline-favorite-border" data-status-id="{{ status.id }}"></i>
                    
                </button>
                {% endif %}
                
                    <p data-status-id="{{ status.id }}">{{ status.likes_count }}</p>
                
            </div>

            <div class="flex items-center gap-3">
                <button type="button" class="button__ico bg-slate-200/70 dark:bg-slate-700">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        width="22" height="22" class="dark:text-gray-100">
                                        <path fill-rule="evenodd"
                                            d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                            clip-rule="evenodd" />
                                    </svg></button>
                        <span class="comment-counter" data-status-id="{{ status.id }}">{{ status.comments_count }}</span>

            </div>
     
        </div>